@font-face {
  font-family: "agustina-signaturesignature";
  src: url("fonts/agustina-signature-webfont.woff2") format("woff2"),
    url("fonts/agustina-signature-webfont.woff") format("woff");
}

body {
  margin: 5vh 0 0;
  font-family: "Montserrat", sans-serif;
  color: #333;
  text-align: center;
}
